@model List<BTL_LTWeb.Models.Invoice>
@{
    ViewBag.Title = "GetInvoices";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="~/Home/Index">Home</a>
                <span class="breadcrumb-item active">Invoices</span>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-12 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>Total Amount</th>
                        <th>Invoice Date</th>
                        <th>Status</th>
                        <th>Xem chi tiết</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @foreach (var item in Model.OrderByDescending(i => i.invoice_date))
                    {
                    <tr>
                        @*<td class="align-middle"><img src="~/Assets/Product/Img/@item.Product.image_url" alt="" style="width: 50px;">@item.Product.product_name</td>*@
                        <td class="align-middle">@item.total_amount</td>
                        @*<td class="align-middle">
            <div class="input-group quantity mx-auto" style="width: 100px;">
                <div class="input-group-btn">
                    <button class="btn btn-sm btn-primary btn-minus">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="@item.quantity">
                <div class="input-group-btn">
                    <button class="btn btn-sm btn-primary btn-plus">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </td>*@
                        <td class="align-middle">@item.invoice_date</td>

                        @if (item.status == "Pending")
                        {
                            <td class="align-middle text-info">@item.status</td>
                        }
                        else if (item.status == "Success")
                        {
                            <td class="align-middle text-success">@item.status</td>
                        }
                        else if (item.status == "Cancel")
                        {
                            <td class="align-middle text-danger">@item.status</td>
                        }
                        <td class="align-middle">
                            <a class="btn btn-secondary" href="~/Invoice/GetInvoiceDetails?invoiceId=@item.invoice_id">Xem chi tiết</a>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
        
    </div>
</div>

